body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  font-family: "OpenSans", sans-serif;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  height: 80px;
}
.site-list__item {
  border-top: 1px solid #ececec;
  margin: 30px auto;
}
.site-list__item a {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .page-header__logo {
    order: 2;
    height: 90px;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav {
  margin: 0 auto;
  width: 320px;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1250px) {
  .page-header {
    justify-content: space-between;
    flex-direction: row;
  }
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
